{% extends "layout.html" %}
{% block content %}
<center><h3 class="about-title">Your Items</h3>
    {% for item in items %}
        <div class="row" style="background-color: beige; border-bottom: solid black; border-top: solid black;">
            <h4>{{ item['name'] + " - $" + item['price']|string }}</h4>
            <img src="{{ item['imgurl'] }}"><br/>
            <b>Details:</b><br/>
            {{ item['description'] }}<br/><br/>
            <b>Category: </b>{{ item['category'] }}<br/><br/><br/>
        </div>
    {% endfor %}
    {% if not items %} You have no items. {% endif %}
</center>
{% endblock %}
