html,body{
	
	font-weight:300;
	line-height:1.5;
	flex-direction: row;
	min-width:100%;
}

body{
	font-family:'Geneva',sans-serif;
	color:grey;
	background-image: url(paper.jpg);
	background-size:cover;
	background-position:center top;
	margin:0;

}


.topNav{
	position:fixed;
  border-style: hidden hidden double hidden;
  align-content: right;

}

.topNav a{
}

.topNav h2{
	font-family:'Geneva',sans-serif;
	padding-left:20px;

}

#main_nav{
	z-index:1;
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:white;
	float:left;
	width:100%;
	top:0;
	position:fixed;
	color:black;
	border-color:#af844b;
}

li{
	float: right;
	display:inline-block;
	color:grey;
}
li a{
	display:inline-block;
	text-align:center;
	padding-top: 30px;
	padding-bottom:15px;
	padding-left:20px;
	padding-right:20px;
	text-decoration: none;
	color:black;
	font-weight:bold;
}

li a:hover{
	color:black;
	cursor:pointer;
	border-color:#af844b;

}

#content{
	padding:20px;
	margin-top:55px;
	background-color: white;
}

#footnote{
	
}
.dropbtn{
	background-color:white;
	color:grey;
	padding:16px;
	font-size:16px;
	border:none;
	cursor:pointer;
}

.dropdown{
	position:relative;
	display:inline-block;
}
.dropdown-content{
	display:none;
	position:absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);	
	min-width:160px;
	z-index:1;
	
}
.dropdown-content a{
	color:black;
	background-color:white;
	padding:12px 16px;
	display:block;
}
.dropdown-content a:hover {
	background-color:#f1f1f1;
	color:black;
}
.dropdown:hover .dropdown-content{
	display:block;
}
.dropdown:hover .dropbtn{
	background-color:#f1f1f1;
}

a{
	color:#353535;
	text-align:center;
	text-decoration:none;
	font-family:'Geneva',sans-serif;
}
a:link{
	color:#353535;
	background-color:white;
	text-align:center;
	text-decoration:initial;
}
a:visited{
	color:#353535;
	background-color:white;
	text-align:center;
	text-decoration:initial;
}
a:hover{
	color:black;
	text-align:center;
	text-decoration:initial;
}


.button{
	background-color: white;
	border-radius:8px;
	border-color:grey;
	border-width:0.5px;
	text-align:center;
	padding:15px 32px;
	text-decoration:none;
	font-size:16px;
	transition: all 0.5s;
	cursor:pointer;
	margin:5px;
}

.button span:hover{
	cursor:pointer;
	background-color:#c8a87e;
	border-color:#af844b;
	display:inline-block;
	position:relative;
	transition:0.5s;
	content:'>>';
}

.button span:after{
	content: '>>';
	position:absolute;
	opacity:0;
	top:0;
	right:-20px;
	transition:0.5s;
}

.fit{
	margin-top:70px;
	max-width:100%;
	max-height:100%;
	border-image-repeat: no-repeat;
	vertical-align: middle;
}
.topImg {
    position: relative;
    display: inline-block;
    
}
.textOnImg {
    position: absolute;    
    height: 100%;
    font-size:70px;
    font-family:'Brush Script MT',cursive;
    font-weight: bold;
    text-align: center;    
    width: 100%;
    color:white;
    text-decoration:underline;

}
.textOnImg:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;

}
h4 {
   display: inline-block;
   font-size: 20px; /*or whatever you want*/
   color: #FFF;   
}
img {
	padding-top:60px;
  display: block;
  max-width: 100%;
  height: auto;
}

#intro_img{
	width:100%;
	max-height: 100%;
	position:relative;
	padding:0;
	margin:0;
	text-align:center;
	object-fit: contain;
	  text-align: center;
  vertical-align: middle;
  color:white;
  font-size:50px;
  font-family:'Geneva',sans-serif;
  font-weight: bold;
  background-image: url("bern.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

txtOnImg{
  position:absolute;
  text-align: center;
  vertical-align: middle;
  color:white;
  font-size:50px;
  font-family:'Brush Script MT',cursive;
  font-weight: bold;
}

h2{
	position:absolute;
	width:100%;
}

input[type=submit] {
	background-color: white;
	border-radius:8px;
	border-color:grey;
	border-width:0.5px;
	text-align:center;
	padding:15px 32px;
	text-decoration:none;
	font-size:16px;
	transition: all 0.5s;
	cursor:pointer;
	margin:5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
input[type=submit]:hover {
    cursor:pointer;
	background-color:#D5D5D5;
	border-color:#af844b;
	display:inline-block;
	position:relative;
	transition:0.5s;
	content:'>>';
}
.myAccount_butn{

}


.butn{
	background-color: white;
	border-radius:8px;
	border-color:grey;
	border-width:0.5px;
	text-align:center;
	padding:15px 32px;
	text-decoration:none;
	font-size:16px;
	transition: all 0.5s;
	cursor:pointer;
	margin:5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.butn span:hover{
	cursor:pointer;
	background-color:#c8a87e;
	border-color:#af844b;
	display:inline-block;
	position:relative;
	transition:0.5s;
	content:'>>';
}

.butn span:after{
	content: '>>';
	position:absolute;
	opacity:0;
	top:0;
	right:-20px;
	transition:0.5s;
}

.holder{
	width:auto;
	display:inline-block;
}

.holder img{
	max-width:30%;
	height:auto;
}
img{
	vertical-align:middle;
}

.self-intro{
	color:white;
	font-size:15px;
	font-family:'Geneva',sans-serif;
	color:#353535;
	box-shadow: 0 16px 16px 0 #4F4F4F, 0 10px 20px 0 #4F4F4F;
	display:inline-block;
	text-align:center;
}

.contactUs {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.contactUs > span {
    position: relative;
    display: inline-block;
}

.contactUs > span:before,
.contactUs > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: grey;
}

.contactUs > span:before {
    right: 100%;
    margin-right: 15px;
}

.contactUs > span:after {
    left: 100%;
    margin-left: 15px;
}
.footer{
	display:inline;
	width:100%;
	margin-left:auto;
	margin-right:auto;

}
.contactInfo{
	text-align:center;
	padding-left:50px;
	padding-right:50px;
}

.contactInfo a{
	color:#353535 ;
	font-size:16px;
	font-family:'Geneva',sans-serif;

	vertical-align: center;
	display:inline-block;
	text-align:center;
}

.contactInfo a:hover{
	border-bottom: 0.5px dotted #353535;
	text-decoration:none;
}
.col-md-4 text-center a{
	color:#353535 ;
	font-size:16px;
	font-family:'Geneva',sans-serif;
}

.col-md-4 text-center a:hover{
	border-bottom: 0.5px dotted #353535;
	text-decoration:none;
}

.project_summary{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left:30px;
	padding-right:30px;
	float:left;
	width:35%;


}

.post-container {
    margin-top:60px;  
    margin-right:200px;
    margin-left:200px;
    margin-bottom:50px;
    border: 5px solid white;
    overflow: auto;
    box-shadow: 0 16px 16px 0 #4F4F4F, 0 10px 20px 0 #4F4F4F;
    font-family:'Geneva',sans-serif;
	color:#353535;
}
.post-thumb {
    float: left;
}
.post-thumb img {
    display: block;
    max-height:300px;
    max-width:300px;
    padding:10px;
    width: auto;
    height:auto;
}
.post-content {
    margin-left: 230px;
    font-family:'Geneva',sans-serif;
}
.post-title {
    font-weight: bold;
    font-size: 25;
    padding: 12px;
    background: #ccc;
    font-family:'Geneva',sans-serif;
}

.project-header{
	font-weight:bold;
	font-size:50px;
  	font-family:'Geneva',sans-serif;
  	color:#353535;
  	text-align: center;
  	padding-top:135px;
  	margin-bottom:50px;
}
.hashtag{
	background-color:;
	color:;
	font-family:;
	border:;
}
.lookCode{
	background-color: white;
	border-radius:8px;
	border-color:grey;
	border-width:0.5px;
	text-align:center;
	padding:8px;
	text-decoration:none;
	font-size:14px;
	transition: all 0.5s;
	cursor:pointer;
	margin:5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-right:100px;
	margin-bottom:20px;
}

.lookCode span:hover{
	cursor:pointer;
	background-color:#c8a87e;
	border-color:#af844b;
	display:inline-block;
	position:relative;
	transition:0.5s;
	content:'>>';
}

.lookCode span:after{
	content: '>>';
	position:absolute;
	opacity:0;
	top:0;
	right:-20px;
	transition:0.5s;
}

.cpright{
	text-align:center;
	font-size:12px;
	font-family:'Geneva',sans-serif;
	color:#353535;
}

.about-container {
    margin: 100px 0px 100px 0px;  
    padding-left:10%;
    padding-right:10%;
    border: 5px solid white;
    overflow: auto;
    font-size:15px;
	font-family:'Geneva',sans-serif;
	color:#353535;
	box-shadow: 0 16px 16px 0 #4F4F4F, 0 10px 20px 0 #4F4F4F;
}
.about-thumb {
    float: left
}
.about-thumb img {
    display: block;
    max-height:400px;
    max-width:400px;
    padding:30px;
    width: auto;
    height:auto;
}
.about-content {
    margin-left: 210px
}
.about-search{
	margin-left:60px;
}
.about-title {
    font-weight: bold;
    font-size: 200%
}



.school-container {
    margin: 100px 0px 100px 0px;  
    padding-left:10%;
    padding-right:10%;
    border: 5px solid white;
    overflow: auto;
    font-size:13px;
	font-family:'Geneva',sans-serif;
	color:#353535;
}
.school-thumb {
    float: left
}
.school-thumb img {
    display: block;
    max-height:220px;
    max-width:220px;
    padding:30px;
    width: auto;
    height:auto;
}
.school-content {
    margin-left: 250px;
}
.school-title {
    font-weight: bold;
    font-size: 20px;
}
