<!DOCTYPE html>
<html>
<body>
<p id="sendMailTo">
          <form id="form" method="post" action="onClickSendMail()">
            <label>Recipient: &nbsp;</label><input type="text" id="recipient" name="recipientName" minlength="4" maxlength="150"  size="100" required/>
            <label>Title: &nbsp;</label><input type="text" id="title" name="title" minlength="4" maxlength="256"  size="100" required/>
            <label>&nbsp;</label><textarea type="text" id="message" name="messageContent" cols="150" rows="20" required/>

            </form>
 </p>
</body>
     